Assignment 7
================================
Assignment: Choose six recent popular movies. Ask at least five people that you know (friends, family, classmates,
imaginary friends) to rate each of these movies that they have seen on a scale of 1 to 5. There should be
at least one movie that not everyone has seen!

In [62]:
# import pandas and numpy
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

Pandas Dataframe for the movies ratings:

In [63]:
#Read information from file into pandas dataframe
ratings = pd.read_csv('ratings.csv')
ratings

,name,The Irishman,Black Panther,Little Women,Finding Nemo,Parasite
0,Sam,NaN,4,NaN,2.0,4.0
1,Adel,NaN,3,4.0,5.0,NaN
2,Jakob,1.0,2,3.0,4.0,NaN
3,Siegfried,3.0,3,4.0,NaN,5.0
4,Hans,1.0,1,NaN,3.0,4.0

Show the average ratings for each user

In [64]:
#Show the average ratings for each user and each movie
ratings.mean()

The Irishman     1.666667
Black Panther    2.600000
Little Women     3.666667
Finding Nemo     3.500000
Parasite         4.333333
dtype: float64

Show the average ratings for each movie

In [65]:
ratings.set_index('name', inplace=True)
ratings.mean(axis=1)

name
Sam          3.333333
Adel         4.000000
Jakob        2.500000
Siegfried    3.750000
Hans         2.250000
dtype: float64

Create a new pandas dataframe, with normalized ratings for each user
- File NAN values with 0
- Apply to formula xnew = (x-xmin) / (xmax - xmin)

In [66]:
ratings.fillna(value=0, inplace=True)
normal = (ratings - ratings.min()) / (ratings.max() - ratings.min())
normal

           The Irishman  Black Panther  Little Women  Finding Nemo  Parasite
name
Sam            0.000000       1.000000          0.00           0.4       0.8
Adel           0.000000       0.666667          1.00           1.0       0.0
Jakob          0.333333       0.333333          0.75           0.8       0.0
Siegfried      1.000000       0.666667          1.00           0.0       1.0
Hans           0.333333       0.000000          0.00           0.6       0.8

Show the average rating for each movie

In [67]:
normal.mean()

The Irishman     0.333333
Black Panther    0.533333
Little Women     0.550000
Finding Nemo     0.560000
Parasite         0.520000
dtype: float64

Show the average rating for each user

In [68]:
normal.mean(axis=1)

name
Sam          0.440000
Adel         0.533333
Jakob        0.443333
Siegfried    0.733333
Hans         0.346667
dtype: float64

Part 4 :

**Question:** Provide a text-based conclusion: explain what might be advantages and disadvantages of using
normalized ratings instead of the actual ratings

**Conclusion:** One advantage is that you can get more meaningful insight into the data because outliers are no longer skewing it.
These outliers could be data that is incorrect, they could represent data that is meaningful.
The disadvantage is that the data is reliant on good normalization, and the normalization is applying a biases to the data.
You are applying the biases that those outliers do not matter to the data, and this will be reflected in the final product.